<div ng-controller="CampaignsCtrl">
  <h1>Campaigns Homepage</h1>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>status</th>
    </tr>
    <tr ng-repeat="camp in camps">
      <th>{{camp.id}}</th>
      <th>{{camp.name}}</th>
      <th>{{camp.status}}</th>
    </tr>
</table>
</div>
